<div class="aboutMe">
    <h4>Hi, I'm Daniel</h4>

    <p>I grew up in the Bay Area and now live in Sunnyvale, CA.</p>

    <p>I am a self motivated Full Stack Software Engineer with experience in building, testing and deploying scalable, software products. I've worked in a variety of sectors - from nonprofits, to higher education, the public sector, and technology</p>

    <p>I thrive in small groups with a common goal.  I enjoy seeing how the group can come together to allow each person to contribute their strengths in a combined effort to make a new idea come to life.</p>

    <p>Outside of work, I enjoy being outside and hanging out with my dogs.  I love Bay Area sports teams (especially the Giants!), I am passionate about tattoo art, an enthusiastic home cook, a licensed skydiver and asipiring recreational pilot</p>

    <p>Coding is challenging.  There are so many tools available there is seemingly always something else to learn.  A new skill to add.  The breadth may seem daunting.  But coding is also creative.  Coding is collaborative, whether on a small project team or contributing to open source projects, we have resources available.  And if it doesn't exist yet, we can make it.  Coding is exciting.  Coding rewards curiosity and creates possibilities.  That's why to me, coding is more than a profession.  Coding is passion!</p>

</div>
