<div class="col-sm-6">
    <h3>Daniel Li</h3>
    <h4>Full Stack Software Engineer</h4>

</div>
<div class="container-fluid skills">
    <div class="col-sm-3">
        <h4>Skills</h4>
    </div>
    <div class="col-sm-3">
        <ul>
            <li>Full Mean Stack (Node, MongoDB)</li>
            <li>AWS (EC2), Nginx, Gunicorn</li>
            <li>Object Oriented Programming</li>
            <li>Restful API design</li>
            <li>Javascript, JQuery, AJAX</li>
            <li>Front-end frameworks (Angular) and libraries (Bootstrap, Materialize, Skeleton)</li>
        </ul>

    </div>
    <div class="col-sm-3">
        <ul>
            <li>Full Python Stack (Django/Flask)</li>
            <li>Mobile Development (iOS, Swift)</li>
            <li>MVC Architecture</li>
            <li>Building and querying SQL and NoSQL Databases (i.e. MongoDB)</li>

        </ul>

    </div>

</div>
<!--
    Projects Section
     -->
<div class="container-fluid projects">
    <div class="container-fluid text-center">
        <h4>Projects:</h4>
    </div>
    <div class="col-sm-4">
        <h4>Chrimata</h4>

    </div>
    <div class="col-sm-5">
        <h4>Calink</h4>

    </div>


</div>
<!--
Education Section
-->
<div class="container-fluid education">
    <div class="col-sm-3">
    <h3>Education</h3>
    </div>
    <div class="col-sm-2">
        <h5>Company name here</h5>
        <h6>Title at Company</h6>
        <p>When I worked here</p>

    </div>
    <div class="col-sm-4">
        <p>Description of my job duties will go here with some detail</p>

    </div>

</div>
<!--
Footer Section -->

<div class="container-fluid footer">
    Location: location here | Phone: 650.799.9948 | email: 88danielli@gmail.com | linkedIn: mylinkedIn

</div>
