<h4>Projects:</h4>

<label for="chrimata">Chrimata - An investment management application that compiles data from several APIs based on a client's portfolio to help educate the public on cryotocurrencies</label>
<ul name="chrimata">
    <li>Built in Python with SQLiteDB</li>
    <li>Responsible for developing Django MVC Framework</li>
    <li>Created models and SQL queries through Django ORM</li>
    <li>Established API calls, parsing JSON data</li>
    <li>Deployed on AWS</li>
    <li>Supported front-end UI design using Bootstrap</li>
</ul>

<label for="calink"><a href="52.38.133.182">Calink - A database of California Tattoo Artists.  Artists are assigned various style tags that are searchable, to provide a resource for connecting tattoo enthusiasts to active tattoo artists</a></label>
<ul name ="calink">
    <li>Built in Javascript using Full Mean Stack</li>
    <li>End to end ownership and development of application</li>
    <li>Developed RESTful API</li>
    <li>Front-end designed in Angular using Bootstrap</li>
    <li>Deployed on AWS</li>
</ul>
