<a href="#!/">Download Resume pdf Here</a>

<h3>Education:</h3>
<h5>University of California, Irvine</h5>
<p>School of Social Ecology - B.A. Urban Studies | July 2010</p>

<h3>Resume:</h3>
<table>
    <tr>
        <td>Coding Dojo</td>
        <td>Full Stack Developer Student</td>
        <td><ul>
            <li>Python Stack | Received Black Belt</li>
            <li>iOS Stack | Received Black Belt</li>
            <li>MEAN Stack | Received Black Belt</li>
            <li>Won 1st place in a hackathon hosted by Coding dojo with Chrimata, an investment management application that compiles data from several APIs based on a client's portfolio.  Created in Python(with Django)</li>
        </ul></td>
    </tr>
    <tr>
        <td><h5>Soundhound, Inc.</h5></td>
        <td><p><h6>Data Annotator</h6></p>
            <p><h6>11.2016 - Present</h6></p></td>
        <td><ul>
            <li>Review and transcribe over 800 audio files per day,  tracking specific linguistic characteristics of confidential data in order to improve overall product accuracy</li>
            <li>Maintain acute attention to detail and organization while working autonomously on a self-directed schedule</li>
            <li>Received recognition of Top 5 Performing Annotators in Q4 2015 for quality, efficiency, and consistency of work</li>
        </ul></td>
    </tr>
    <tr>
        <td><h5>Kaleidescape, Inc.</h5></td>
        <td><p><h6>Order Processing Analyst</h6></p>
            <p><h6>05.2015 - 08.2016</h6></p></td>
        <td><ul>
            <li>Created and maintained client relationships in NetSuite and Salesforce and assisted in company CRM transition</li>
            <li>Entered and reviewed a wide range of incoming order types, verifying information accuracy through a highly detail-oriented process involving enterprise application systems </li>
            <li>Provided front line customer service and coordinated internal logistical procedures while supporting A/P functions</li>
        </ul></td>
    </tr>
    <tr>
        <td><p><h5>City of San Jose</h5></p>
            <p><h6>Finance Department</h6></p></td>
        <td><p><h6>Budget Analyst</h6></p>
            <p><h6>04.2014 - 12.2014</h6></p></td>
        <td><ul>
            <li>Managed department full cycle A/P operations including month end close and annual accruals, track vendor contracts and manage encumbrances, and provided analysis on projected needs for 5 divisions throughout the department </li>
            <li>Provided administrative support to Finance Department Director and Senior Staff, including monthly and quarterly budget reports, and provide analytical support on city memorandum throughout the fiscal cycle</li>
        </ul></td>
    </tr>
    <tr>
        <td><p><h5>Stanford University</h5></p>
            <p><h6>VPUE</h6></p></td>
        <td><p><h6>Administrative Associate</h6></p>
            <p><h6>08.2012 - 04.2014</h6></p></td>
        <td><ul>
            <li>Oversaw 7 department credit cards, processing a high volume of detailed transactions in Oracle Financials</li>
            <li>Founded and managed the Student Worker Training Program in order to give structure and direction to student workers; created an engaging and hands-on environment by assigning and supervising diverse projects</li>
        </ul></td>
    </tr>

    <tr>
        <td><p><h5>First 5 Service Corps</h5></p></td>
        <td><p><h6>AmeriCorps VISTA Member</h6></p>
            <p><h6>08.2010 - 07.2012</h6></p></td>
        <td><ul>
            <li>Conducted a volunteer program evaluation and redeveloped recruitment and training systems. Coordinated a team of 35 volunteers and interns by delegating administrative tasks, research projects, and community oral health education</li>
            <li>Created a survey of safety net dental clinics and pediatric providers to support advocacy efforts in preparation for significant changes to healthcare policy in 2014</li>
            <li>Developed and maintained volunteer tracking database, volunteer hour tracking, and care coordination follow-up systems </li>
        </ul></td>
    </tr>
</table>
