<!-- <a href="#!/">Download Resume pdf Here</a> -->

<h3>Education:</h3>
<h5>University of California, Irvine</h5>
<p>School of Social Ecology - B.A. Urban Studies | July 2010</p>

<h3>Resume:</h3>
<table>
    <tr>
        <td>Coding Dojo</td>
        <td>Full Stack Developer Student</td>
        <td><ul>
            <li>Python Stack | Received Black Belt</li>
            <li>iOS Stack | Received Black Belt</li>
            <li>MEAN Stack | Received Black Belt</li>
            <li>Won 1st place in a hackathon hosted by Coding dojo with Chrimata, an investment management application that compiles data from several APIs based on a client's portfolio.  Created in Python(with Django)</li>
        </ul></td>
    </tr>
    <td><h5>Company name here</h5></td>
    <td><h6>Title at Company</h6></td>
    <td><ul>
        <li>duties here</li>
        <li>responsibilities</li>
        <li>achievements</li>
    </ul></td>
</table>
