<div class="resume">
    <a href="../danielLiResume.pdf">Resume</a>

    <h4>Technical Skills</h4>
    <p>Languages: Python, Javascript, Swift | Frameworks: Django, Flask, Mongoose, Express, Socket.io, AngularJS, Ionic | Mobile Development: iOS | Front-End Development: HTML5, CSS3, JavaScript, jQuery, Ajax, Twitter Bootstrap | Servers: Node.js, Nginx, AWS | Databases: SQL (MySQL), NoSQL(MongoDB), SQLite | Version Control: Git/Github | Methodology: OOP, MVC, RESTful Architecture</p>

    <label for="resume">Resume</label>
    <table class="table-striped" named="resume">
        <tr>
            <td><p><h5>STANCE</h5></p>
                <p><h6>Full Stack Software Engineer</h6></p></td>
            <td>
                Worked on various projects both frone-end and back-end.  Experience with Data Structures, Django, Angular, MySQL, iOS/Swift, AWS, Firebase, MongoDB, Node.js, RESTful API, MVC Architecture, JSON
            </td>
        </tr>
        <tr>
            <td><p><h5>Soundhound, Inc.</h5></p>
                <p><h6>Data Annotator</h6></p>
                <p>11.2016 - Present</p></td>
            <td>
                Received recognition of Top 5 Performing Annotators in Q4 2015 for quality, efficiency, and consistency of work
            </td>
        </tr>
        <tr>
            <td><p><h5>Kaleidescape, Inc.</h5></p>
                <p><h6>Order Process Analyst</h6></p>
                <p>05.2015 - 08.2016</p></td>
            <td>
                Created and maintained client relationships in NetSuite and Salesforce and assisted in company CRM transition
            </td>
        </tr>
        <tr>
            <td><p><h5>City of San Jose</h5></p>
                <p><h6>Budget Analyst</h6></p>
                <p>04.2014 - 12.2014</p></td>
            <td>
                Managed department full cycle A/P operations
            </td>
        </tr>
        <tr>
            <td><p><h5>Stanford University</h5></p>
                <p><h6>Credit Processing & Website Administrator</h6></p>
                <p>08.2012 - 04.2014</p></td>
            <td>
                Completed department website updates through Drupal and oversaw 7 department credit cards, processing a high volume of detailed transactions in Oracle Financials
            </td>
        </tr>

        <tr>
            <td><p><h5>First 5 Service Corps</h5></p>
                <p><h6>Database AmeriCorps VISTA</h6></p>
                <p>08.2010 - 07.2012</p></td>
            <td><ul>
                <li>Developed and maintained volunteer tracking database, volunteer hour tracking, and care coordination follow-up systems </li>
                <li>Created resources using Adobe Illustrator and InDesign, and completed website updates using Dreamweaver, HTML, and CSS</li>
                <li>Coordinated a team of 35 volunteers and interns</li>
            </ul></td>
        </tr>
    </table>

        <h4>Education:</h4>
        <h5>University of California, Irvine</h5>
        <p>School of Social Ecology - B.A. Urban Studies | 2006-2010</p>

        <h5>Coding Dojo</h5>
        <p>Full Stack Software Engineer Certificate Program | 2016-2017 </p>



</div>
