<label for="hardSkills">Hard Skills</label>
<ul name="hardSkills">
    <li>NodeJS, Angular, Express, MongoDB</li>
    <li>Full Python Stack (Django/Flask)</li>
    <li>Mobile Development (iOS, Swift)</li>
    <li>AWS (EC2), Nginx, Gunicorn</li>
    <li>Object Oriented Programming</li>
    <li>MVC Architecture</li>
    <li>Restful API design, JSON</li>
    <li>Javascript, JQuery, AJAX</li>
    <li>Building and querying SQL and NoSQL Databases</li>
    <li>Front-end frameworks (Angular) and libraries (Bootstrap, Materialize, Skeleton)</li>
</ul>
<hr>
<label for="softSkills">Soft Skills</label>
<ul name="softSkills">
    <li>Thrives in small team environment</li>
    <li>Communication is key</li>
    <li>Strong interpersonal skills</li>
    <li>Experience in a remote role working offsite</li>
    <li>Established professional background emphasizing customer service, and fine attention to detail while processing a high volume of transactions</li>
    <li>Driven to continually seek opportunities for growth by learning new skills to tackle exciting challenges and create new possibilities</li>
</ul>
