<label for="hardSkills">Hard Skills</label>
<ul name="hardSkills">
    <li>NodeJS, Angular, Express, MongoDB</li>
    <li>Full Python Stack (Django/Flask)</li>
    <li>Mobile Development (iOS, Swift)</li>
    <li>AWS (EC2), Nginx, Gunicorn</li>
    <li>Object Oriented Programming</li>
    <li>MVC Architecture</li>
    <li>Restful API design</li>
    <li>Javascript, JQuery, AJAX</li>
    <li>Building and querying SQL and NoSQL Databases</li>
    <li>Front-end frameworks (Angular) and libraries (Bootstrap, Materialize, Skeleton)</li>
</ul>
<hr>
<label for="softSkills">Soft Skills</label>
<ul name="softSkills">
    <li>Thrives in small team environment</li>
    <li>Communication is key</li>
</ul>
