body {
    padding: 10px;
}
div {
    padding: 10px;
}
h3 {
    color: pink;
}

.background {
    background-image: url('../images/bike_left.jpg');
    background-size: cover;
}

.panel-default img {
    width: 100%;
    margin-bottom: 10px;
}

.header {
    display: inline-block;
    padding-left: 0px;
}

.row {
    min-width: 100%;
    margin: 0;
}

.sidebar {
    background-color: rgba(186,198,216,.5);
    display: inline-block;
    min-height: 680px;
    text-align: center;
}

.sidebar img {
    height: 120px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.partials {
    min-height: 680px;
    padding: 0px;
}

.landingPage {

    min-height: 680px;
}
.skills {
    background-color: white;
    min-height: 680px;
}

.projects {
    background-color: white;
    min-height: 680px;
}

.resume {
    background-color: white;
    min-height: 680px;
}

.aboutMe {
    background-color: white;
    min-height: 680px;
}

.footer {
    background-color: rgba(120,128,140,.5);
    text-align: right;
    padding: 10px 0px 10px 0px;
}
