body {
    padding: 10px;
}
div {
    padding: 10px;
}
h3 {
    color: pink;
}

.panel-default img {
    width: 100%;
    margin-bottom: 10px;
}

.header {
    background-color: grey;
    display: inline-block;
}

.row {
    min-width: 100%;
    margin: 0;
}

.sidebar {
    background-color: steelblue;
    display: inline-block;
    min-height: 680px;
    text-align: center;
}

.sidebar img {
    height: 120px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.partials {
    min-height: 680px;
    padding: 0px;
}

.landingPage {
    background-image: url('../images/bike_left.jpg');
    background-size: cover;
    min-height: 680px;
}
.skills {
    background-color: green;
    color: white;
}

.projects {
    background-color: aqua;
}

.education {
    background-color: red;
}

.footer {
    background-color: orange;
    text-align: right;
}
