body {
    padding: 10px;
}
div {
    padding: 10px;
}
h3 {
    color: rgb(43,50,61);
}

h5 {
    color: rgb(62,66,73);
}

table {
    padding: 10px;
}

td {
    padding: 10px;
    min-width: 160px;
}

.background {
    background-image: url('../images/bike_left.jpg');
    background-size: cover;
}

.panel-default img {
    margin-bottom: 10px;
    display: block;
    margin: auto;
}

.header {
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    min-width: 100%;
    margin: 0;
}

.sidebar {
    background-color: rgba(186,198,216,.5);
    display: inline-block;
    min-height: 680px;
    text-align: center;
}

.sidebar img {
    height: 200px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.sidebar a {
    color: black;
}

.partials {
    min-height: 680px;
    padding: 0px;
}

.landingPage {

    min-height: 680px;
}
.skills {
    background-color: rgb(232,232,232);
    min-height: 680px;
}

.projects {
    background-color: rgb(232,232,232);
    min-height: 680px;
}

.resume {
    background-color: rgb(232,232,232);
    min-height: 680px;
}

.aboutMe {
    background-color: rgb(232,232,232);
    min-height: 680px;
}

.footer {
    background-color: rgba(120,128,140,.5);
    text-align: right;
    padding: 15px 0px 15px 0px;
    color: white;
}
