body {
    padding: 10px;
}
div {
    padding: 10px;
}
h3 {
    color: pink;
}

.sidebar img {
    height: 120px;
}

.panel-default img {
    width: 100%;
    margin-bottom: 10px;
}

.header {
    background-color: grey;
    display: inline-block;
}

.row {
    min-width: 100%;
}

.sidebar {
    background-color: steelblue;
    display: inline-block;
}

.skills {
    background-color: green;
    color: white;
}

.projects {
    background-color: aqua;
}

.education {
    background-color: red;
}

.footer {
    background-color: orange;
}
